<%- include('header') -%>
  <h2 class="larger">Playlist: <%= playlist.name%>
  </h2>
  <h6 class="smaller">
    Description:
    <%= playlist.description %>
  </h6>

  <div style="text-align: right">

    <a href="/myplaylist/<%= playlist._id %>/edit" class="btn btn-success align-self-end">Edit playlist details</a>

    <div style="text-align: center">
      <a href="/myplaylist" class="btn btn-primary">Return to playlists</a>
    </div>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Artist</th>
          <th scope="col">Name</th>
          <th scope="col">Duration</th>
          <th scope="col">Options on a song</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0 ; i<Object.keys(songs).length ; i++){%>
          <tr>
            <td>
              <%= i+1%>
            </td>
            <td>
              <%= songs[i].artist %>
            </td>
            <td>
              <%= songs[i].title %>
            </td>
            <td>
              <%= songs[i].duration %>
            </td>
            <td>
              <a href="/myplaylist/<%= playlist._id %>/<%= songs[i]._id %>/edit" class="btn btn-success">Edit</a>
              <a href="/myplaylist/<%= playlist._id %>/<%= songs[i]._id %>/del" class="btn btn-danger">Remove</a>

            </td>
          </tr>
          <% }; %>
      </tbody>
    </table>
    <div style="text-align: center">
      <a href="/myplaylist/<%= playlist._id %>/newsong" class="btn btn-primary">Add song</a>
    </div>
  </div>
  <div style="text-align: right">
    <a href="/myplaylist/<%= playlist._id %>/del" class="btn btn-danger">Remove playlist: <%= playlist.name%></a>
  </div>
  </div>
  <%- include('footer') -%>